
a {
    text-decoration: none;
}

.btn {
    background-color:rgb(34, 34, 142) ;
}

.container {
    max-width: 1000px;
    width: 100%;
    padding-left: 15px;
    padding-right: 15px;
    margin-right: auto;
    margin-left: auto;
}

.background {
    padding: 30px;
    margin: 0px auto;
    max-width: 1000px;
    border-radius: 20px;
    border: 1.5px solid rgb(102, 102, 102);
    max-width: 1000px;
    background-image: linear-gradient(to bottom, #ffffff, #ffffff,  #c4edf9);
    
}

#city{
    font-size: 40px;
    font-weight: bold;
}
#currentTemp {
    font-size: 10px;
    padding: 5px 10px;
    margin-left:  0px;
    border-radius: 2pc;
    background-color: rgb(34, 34, 142);
    color: white;
    border: none;

}

#currentTemp:hover {
    background-color: white;
    color: rgb(34, 34, 142);
    border: solid 1px;
    border-color: rgb(34, 34, 142);
    ;
}

.celFerConverter {
    color: rgb(143, 143, 143);
    margin-left: 50px;
    font-size: 13px;
    line-height: 0.5;
}

.source { 
    text-align: center;
    font-size: 12px;
}
.little1 {
    font-size: 13px;
    font-weight: bolder;
    line-height: 0.5;
    color: rgb(34, 34, 142);
}

.little2 {
    font-size: 13px;
    font-weight: bolder;
    line-height: 0.5;
}


.little3 {
    font-size: 13px;
    color: grey;
    text-transform: capitalize;
    line-height: 0.5;
    
}

.h1 {
    font-size: 30px;
    color: rgb(34, 34, 142);
}


.current-weather {
    font-size: 90px;
    font-weight: bold;
    color: rgb(34, 34, 142);
    line-height: 100px;
}

.emojies1 {
padding: 0px 80px 0px;

}

.emojies2 {
    font-size: 50px;
    text-align: center;
}

.celFer {
    padding-top: 5px;
    padding-left: 5px;
}

.celsiusFer {
    color: grey;
    text-align: right;

}

.nighttime {
    
    color: grey;
    text-align: center;
    padding: 5px;
}


.weekdays {
    text-align: center;
    font-weight: bold;
}

.min {
    text-align: center;
    padding: 0px;
}

.max {
    text-align: center;
    padding: 0px;
}

.days-in-week {
    border-right: solid 1px;
}

.temp {
    text-align: center;
}

.note {
    font-size: 9px;
    color: grey;
    text-align: center;
    margin: 40px auto auto 0;
}